<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mi server</title>
  </head>
  <body>
    <%- include ("partials/navigation.ejs")%>
    <h1>Hola con express</h1>
  </body>
</html>
